<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
			{{#unless session.isAuthenticated}}
	      <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Sign in
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" {{action "signIn" "twitter"}}>with Twitter</a>
						<a class="dropdown-item" {{action "signIn" "facebook"}}>with Facebook</a>
					</div>
	    	</li>
			{{else}}
				<li class="nav-item ">
					<a class="nav-link" href="#" {{action "signOut"}} >Sign out</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">{{session.currentUser.displayName}}</a>
				</li>
			{{/unless}}  
    </ul>
  </div>
</nav>

{{outlet}}